body{ 
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', 'Lucida Sans';
}
nav{
    padding: 0;
    width: 100%;
    height: 85px;
    box-sizing: border-box;
    position: fixed;
    background:linear-gradient( to right,
    rgb(97, 26, 163),
      rgb(38, 18, 168),
      rgb(38, 18, 168),
      rgb(97, 26, 163)); ;
      border-bottom: 5px solid #000000;
}

.logo{
    position: absolute;
    top: -92%;
    padding: 0 20px;
    float: left;
  }
 nav ul{
    list-style: none;
    float: right;
    padding:0 ;
    margin: 0;
    display: flex;
}
nav ul li{
    padding: 29px 40px;
    color: white;
    display: inline;
}
nav ul li a{ 
    
    text-align: center;
    padding: 17px 50px;
    text-decoration: none;
    float:right;
    font-size: 14px;
    color: rgb(205, 198, 191); 
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s , text-decoration 0.5s;
}

nav li a:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: pink;
    opacity: 0.75;
    text-decoration: underline;
}
.active {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.75; 
    color: pink;
    text-decoration: underline;
}

.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 190px 60px;
    grid-column-gap: 20px ;
    grid-row-gap: 30px;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}
.item h4{
    padding: 5px;
    text-align: center;
    font-size: 18px;
}
.item button{
    padding: 5px;
    border: none;
    outline: none;
    background-color: rgb(158, 116, 17);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2 all;
}
.item button:hover{
    transform: scale(1.04);
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: modal-open 0.3s;
    padding-top: 190px;
    width: 100%;
    height: 100%;
    
}

.modal-open{
    padding: 5px;
    border: none;
    outline: none;
    background-color: rgb(158, 116, 17);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2 all;
}
.modal-open:hover{
    transform: scale(1.04);
}

.modal-content{
    background-color: rgb(246, 240, 228);
    margin: auto;
    padding: 100px;
    border: 4px solid #888;
    width: 35%;
}

.item p{
    font-family:'Lucida Sans';
    font-size: 38px;
    margin-top: -46px;
    margin-bottom: 0;
    
}

.modal-content p{
    margin-top: 0;
    text-align: center;
    font-size: 15px;
    color: rgb(132, 27, 27);
}

@keyframes modal-open{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.btn{
    
    border-radius: 10px;
    color: white;
    position: relative;
    right: 0;
    left: 500px;
    top: -50px;
    margin-right: 50px;
    padding: 10px;
    background-color: #9e7411; 
    font-size: 35px;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    margin-left: 35px;
}
.btn:hover{
  transform: translate(0, -5%);
  box-shadow:0 4px 4px rgba(0, 0, 0, 0.6);
  }
a{
    text-decoration: none;
    color: white;
  }