body{
background-image: url("bckg.JPG") ;
font-family: system-ui;
text-align: center;
}

h2{
color:brown;
}

div{
background-color:pink;
color:purple;
}

p{
Border: 2px solid black;
}