p{
  color: rgb(147, 101, 41); 
  font-family:'Lucida Sans';
  font-size: 25px;
  text-align: center;
  margin-top: 0;
  padding-top: 150px;
}
.topline{
  color: rgb(169, 143, 234); 
  font-family: Arial;
  font-size: 70px;
  font-weight:bolder ;
  margin-right: 580px;
  border-bottom: 6px dotted rgb(169, 143, 234);
}

.location{
  width:63%;
  height:450;
	margin:auto;
	padding:35px 0;
}



.socials ul{
  position: absolute;
  top:100%;
  left:30%;
  padding:0;
  margin:0;
  transform: translate(-0%, 160%);
 display: flex;
 border-top:dashed 2px rgba(128, 128, 128, 0.489);
}
.socials ul li{
  list-style: none;
  margin: 0px;
}
.socials ul li .fa{
  font-size: 25px;
  line-height: 34px;
  transition: 0.3s;
  color: rgb(169, 143, 234);
}
.socials ul li .fa:hover{
color:#ffffff ;
}
.socials ul li a{
position: relative;
display: block;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: rgba(244, 244, 244, 0.944);
text-align: center;
transition: 0.6s all;
box-shadow: 0 5px 4px rgba(0, 0, 0, 0.6);
padding: 17px 17px;
}
.socials ul li a:hover{
transform: translate(0, -5px);
}
.socials ul li:nth-child(1) a:hover{
  background-color: #1877F2;
}
.socials ul li:nth-child(2) a:hover{
  background-color: #E4405F;
}
.socials ul li:nth-child(3) a:hover{
  background-color: #1DA1F2;
}
.socials ul li:nth-child(4) a:hover{
  background-color: #FF5700;
}












body{ 
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande', 'Lucida Sans';
  
}
nav{
  padding: 0;
  width: 100%;
  height: 85px;
  box-sizing: border-box;
  position: fixed;
  background:linear-gradient( to right,
  rgb(97, 26, 163),
    rgb(38, 18, 168),
    rgb(38, 18, 168),
    rgb(97, 26, 163)); ;
    border-bottom: 5px solid #000000;
}

.logo{
  position: absolute;
  top: -92%;
  padding: 0 20px;
  float: left;
}
ul{
  list-style: none;
  float: right;
  padding:0 ;
  margin: 0;
  display: flex;
}
ul li{
  padding: 29px 40px;
  color: white;
  display: inline;
}
ul li a{ 
  
  text-align: center;
  padding: 17px 50px;
  text-decoration: none;
  float:right;
  font-size: 14px;
  color: rgb(205, 198, 191); 
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s , text-decoration 0.5s;
  
}

li a:hover{
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
  color: pink;
  opacity: 0.75;
}
.active {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.75; 
  color: pink;
  text-decoration: underline;
}



